/* Your CSS Code here. */
#button-1{
	background-color: blue;
}
#button-2{
	border: 2px solid grey;
}
#button-3{
	font-size: 20px;
}
#button-4{
	font-size: 12px;
}
#button-5{
	display: block;
    width: 100%;
}
#button-6{
	 background-color: rgb(14, 198, 198);
	color: black;
}
#button-7{
	font-weight: 500;
}
#button-8{
	font-weight: 500;
	text-decoration: underline; 
}